/* style for header */
.header {
    display: flex;
      justify-content: space-between;
      align-items: baseline;
      border-bottom: 1px solid black;
      margin: 0 20px;
  }
  
  /* Button style */
  .btnDiv {
    display: flex;
    gap: 50px;
  }
  
  .btnAdd {
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 40px;
  }
  
  .delete-checkbox-btn {
    background-color: red;
    border-radius: 5px;
    width: 120px;
    height: 40px;
  }

/* Style for product items div */
.productItem {
    display: flex;
    flex-wrap: wrap;
}


.productBox {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.delete-checkbox {
background: #000;
}

/* style ul */
.list {
    list-style: none; 
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 120px;
    justify-content: center;
    align-items: stretch;
}
