.products {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

.newProducts {
  display: flex;
}

.btnDiv {
  display: flex;
  gap: 50px;
}

/* Button style */

.btnAdd {
  background-color: blue;
  color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
.btnDelete {
  background-color: red;
  border-radius: 5px;
  width: 120px;
  height: 40px;
}